<IfModule mod_rewrite.c>
  RewriteEngine On

  # Handle OPTIONS requests and respond with 200 immediately (CORS preflight)
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

# Existing rewrite rules here...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Bypass Rewrite for files in the uploads directory
RewriteCond %{REQUEST_URI} ^/uploads/ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Repeat your rewrite rules if necessary
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "http://localhost:4200"
  Header always set Access-Control-Max-Age "1000"
  Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
  Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
</IfModule>

# Directory permissions
Options Indexes FollowSymLinks
Require all granted
