
#theForm, #theList, #links {
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
.form-group > input[type="text"], input[type="email"], input[type="date"], input[type="file"] {
    width: 30%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline;
}
.form-group > label {
    width: 10%;
}
.col-2 > input[type="button"] {
    width: 30%;
    margin-left: 10px;
}
.danger {
    color: rgb(255, 99, 99);
}
.help-block {
    margin-left: 10px;
}

